<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
</head>
<body>
<div>
    <a href="/init">初始化数据</a>
</div>
<div>
    <form action="/searchByTitle" method="get">
        <div class="input-group col-md-3">
            <input type="text" name="title" class="form-control" placeholder="搜索">
            <span class="input-group-btn">
               <button class="btn btn-info btn-search">查找</button>
            </span>
        </div>
    </form>
</div>
<div>
    <table class="table table-striped table-hover" style="width: 100%">
        <tr class="header-row">
            <th class="text-center col-md-1">Id</th>
            <th class="text-center col-md-6">Title</th>
            <th class="text-center col-md-5">Tags</th>
        </tr>
        <tr th:each="note:${notes}" class="text-center">
            <td class="col-md-1"><a href="#" th:href="'/addNote?orderId=' + ${note.id} + '&tagName=testTag'"><span
                    th:text="${note.id}"></span></a></td>
            <td class="col-md-6"><a th:href="'/updateNotePage?id=' + ${note.id}"><span
                    th:text="${note.title}"></span></a></td>
            <td class="col-md-5"><a th:href="'/searchByTag?id=' + ${tag.id}" th:each="tag:${note.tags}"><span
                    class="tag label label-primary" style="width: 15%" th:text="${tag.name}"></span></a></td>
        </tr>
    </table>
</div>

</body>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/index.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>

</html>